<%= form_for @user, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_tag sessions_path do %>
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>New Admin</h1><br>
      <form>
      <%= f.text_field :first_name, placeholder: "username" %>
      <%= f.text_field :last_name, placeholder: "last name" %>
      <%= f.text_field :email, placeholder: "email" %>
      <%= f.file_field :user_photo %>
      <%= f.file_field :user_pasport %>
      <%= f.text_field :birthday, placeholder: "birthday" %>
      <%= f.password_field :password, placeholder: "password" %>
      <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
      <%= f.hidden_field :role, value: "admin" %>
      <%= f.submit "Register", class: "login loginmodal-submit" %>
      </form>

    </div>
  </div>
  </div>
 <% end %>
<% end %>
