<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.role.name %>
</p>
<p>
  <strong>Messge:</strong>
  <% if @message.present? %>
    <%= @message.body %>
  <% end %>
</p>
<% if current_user.is_admin? %>
  <td><%= link_to("Make Admin", user_change_role_path(@user, :role => '1'), :confirm => "Are you sure?", :method => :post)%></td>
  <td><%= link_to("Make Owner", user_change_role_path(@user, :role => '2'), :confirm => "Are you sure?", :method => :post)%></td>
  <td><%= link_to("Make Guest", user_change_role_path(@user, :role => '3'), :confirm => "Are you sure?", :method => :post)%></td>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>