<body>

    <!-- Page Content -->
    <div class="container">

                       <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h3 id="myModalLabel">Delete</h3>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button data-dismiss="modal" class="btn red" id="btnYes">Confirm</button>
                        </div>
   </div><table class="table table-striped table-hover table-users">
                <thead>
                    <tr>
                        
                        <th class="hidden-phone">User</th>
                        <th>Email</th>
                        <th>Title</th>
                        <th class="hidden-phone">Content</th>
                        <th class="hidden-phone">Create date</th>
                    </tr>
                </thead>

                <tbody>
                    

                <% @items.each do |item| %>
                    <tr>
                        
                        <td class="hidden-phone"><%= item.user %></td>
                        <td><%= item.user.email %></td>
                        <td><%= item.title %></td>
                        <td><%= item.content %></td>
                      <td><%= item.created_at.strftime("%d %b %Y") %></td>
                                            
                       <td><%= link_to 'Show', item, class: 'btn mini blue-stripe' %></td>
                                            
                        <td><% if current_user && item.user == current_user %><%= link_to 'Edit', edit_item_path(item), class: 'btn mini blue-stripe' %><% end %></td>

                        <td><a class="btn mini red-stripe" <% if current_user && item.user == current_user %><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></a></td>
                    </tr>
                    <% end %>
                    
                
                   </tbody>

            </table>
        <% if current_user %> <%= link_to 'New Item', new_item_path, class: "btn mini" %>
        <% end %>
    </div>
</body>

</html>
